<div class="navbar bg-base-100 justify-between shadow-sm">
  <div>
    <a class="btn btn-ghost text-xl" routerLink="/home" routerLinkActive="bg-info text-white"
      >Home
    </a>
  </div>
  <div class="flex gap-1">
    <a class="btn btn-ghost text-xl" routerLink="/courses" routerLinkActive="bg-info text-white"
      >Courses
    </a>
    <a class="btn btn-ghost text-xl" routerLink="/about" routerLinkActive="bg-info text-white"
      >About</a
    >
    <a class="btn btn-ghost text-xl" routerLink="/contact" routerLinkActive="bg-info text-white"
      >Contact</a
    >
    @if (!isLoggedIn) {
      <a class="btn btn-ghost text-xl" routerLink="/login" routerLinkActive="bg-info text-white"
      >Login</a
    >
    }@else {
      <a class="btn btn-ghost text-xl" routerLink="/login" routerLinkActive="bg-info text-white"
      >Logout</a
    >
    }
  </div>
</div>
